{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<a id="top"></a>
<div class="front-page-container">
    <div class="middle-page">
        <div class="front-page blur">
            <div class="container">
                <div class="text">
                    <p class="title">Hello,</p>
                    <p class="sub-title">I'm Renzo. Welcome to my portfolio!</p>
                    <button id="whoami" class="btn btn-primary btn-lg" type="button" name="whoami">View Resume</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(window).on('load', () => unblur('.front-page'));
</script>
{% endblock %}
