{% extends 'base.html' %}
{% load staticfiles %}

{% block popup %}
<div id="resume-file" class="popup-con">
    <div class="popup">
        <div class="close-button">
            <a class="button" href="#"><span class="glyphicon glyphicon-remove"></span> Close</a>
        </div>
        <div class="maps-view">
            <iframe src="https://docs.google.com/document/d/1TlhzodH6i9tJagHMpWdaVB8PFhSfNiU4TJifhg4thLc/pub?embedded=true"></iframe>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<a id="top"></a>
<div class="front-page-container">
    <div class="middle-page">
        <div class="front-page blur">
            <div class="container">
                <div class="text">
                    <p class="title">Hello,</p>
                    <p class="sub-title">I'm Renzo. Welcome to my portfolio!</p>
                    <a class="btn btn-primary btn-lg location" data-map="resume-file">View Resume</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    $(window).on('load', () => unblur('.front-page'));
</script>
{% endblock %}
